footer{
    text-align: center;
    color: white;
}
main{
    width: 90vw;
    height: 90vh;
    margin: auto;
    
}
body{
    background-color:rgba(4,24,33,255);

}
header{
    color: white;
    text-align: center;
    font-size: 30px;
}
h1{
    color: white;
}
.highlight{
    color: #19d59d;

}

.grid-item{
    text-align: center;
    color: white;
}

#icones{
    padding:10px;
}
#img1{
        width :  90px;
        height : 90px;
}
p{
    color: white;
}

.categories {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    margin-bottom: 20px;
}
.category {
    background-color: black;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    flex: 1 1 150px; 
    transition: background-color 0.3s;
    color:  white;
}
.category:hover {
    background-color: green; 
    color: white; 
}
a {
    text-decoration: none;
    color: inherit; 
}