footer{
    text-align: center;
    color: white;
}
main{
    width: 90vw;
    height: 90vh;
    margin: auto;
    
}
body{
    background-color:rgba(4,24,33,255);

}
header{
    color: white;
    text-align: center;
    font-size: 30px;
}
h1{
    color: white;
}
.highlight{
    color: #19d59d;
    font-family: monstyle;

}
@font-face{
    font-family: monstyle;
    src: url("/font/Montserrat/Montserrat-VariableFont_wght.ttf");
}
.grid-item{
    text-align: center;
    color: white;
}

#icones{
    padding:10px;
}
#img1{
        width :  90px;
        height : 90px;
}